.flexBox{
    height: 100px;
    width: 100px;
    background-color: brown;
    border: 2px solid red;
    margin: 10px;
    /* display: flex; */
    /* align-items: center; */
}
.mainFlex {
    background-color: aqua;
    width: 100%;
    height:500px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
#dir {
    background-color: black;
    color: white;
    border: 3px solid gold;
    padding: 6px 12px;
}

p {
    color:white;
    background-color: red;border-radius: 10px;
    font-size: larger;
    font-style: italic;
    font-weight: bolder;

}
pre {
    color:gold;
    background-color:green;
    border-radius: 10px;
    font-size: larger;
    font-style: italic;
    font-weight: bolder;

}
#changeTxt {
    height: fit-content;
    width: max-content;
    padding: 4px 8px ;
    background-color: blue;
    color: aliceblue;
}
pre:hover {
    transform: translateX(40px);
}
#valuebox {
    background-color: pink;
    color: black;
    height: 4em;
    width:8em;
    margin-bottom: 2em;


}
div {
    /* background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQFI142Nuo0ZgHjUe5lumIGkrQrJZpM7itOQ7VTVQ92&s'); */
}
h2 {
    background-color: aliceblue;
    color:red;
    font-style: italic;
    font-weight: bolder;

}
.clock {
    display: flex;
}